<div class="content-wrapper">
    <div class="content">
        <div class="splash-container">
            <div class="splash">
                <h1 class="splash-head">Welcome to Guestbook App!</h1>
                <p class="splash-subhead">
                    Guestbook shows all guests who have checked in and their messages to others!
                </p>
                <p class="splash-subhead">
                    This implementation was created by using EJS templates.
                </p>
                <p>
                    <a href="/guestbook" class="pure-button pure-button-primary">Browse guestbook</a>
                    <a href="/newmsg" class="pure-button pure-button-primary">Leave a message</a>
                </p>
            </div>
        </div>
    </div>
</div>