<!DOCTYPE html>
<head>
    <%- include ('../partials/head')%>
</head>
<body>
    <!--Navigation bar-->
    <%- include('../partials/navigation')%>

    <!--Front page content-->
    <%- include('../partials/index_content')%>

    <footer>
        <%- include ('../partials/footer')%>
    </footer>
</body>